.shake {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}
  
@keyframes shake {
    0% { transform: translate(10px, 0); }
    5% { transform: translate(-10px, 0); }
    10% { transform: translate(-30px, 0); }
    15% { transform: translate(30px, 0); }
    20% { transform: translate(10px, 0); }
    25% { transform: translate(-10px,0); }
}