#display-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

#Modal {
    width: 25%;
    top: 50% !important;
    left: 50% !important;
    right: auto !important;
    bottom: auto !important;
    margin-right: -50% !important;
    transform: translate(-50%, -50%) !important;
}

.row {
    background-image: linear-gradient(
        90deg,
        rgb(226, 212, 199),
        rgb(223, 199, 226),
        rgb(211, 234, 243), 
        rgb(190, 224, 189),
        rgb(226, 212, 199)
    );
}

.col, .col-3, .col-4, .col-6, .col-9 {
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 35px;
    border: 7px solid white;
}

.container {
    margin: 0;
}

.font-weight-bold {
    font-weight: bold !important;
}

h1 {
    font-size: 45px !important;
}

h2 {
    font-size: 30px !important;
}

h4 {
    font-size: 20px !important;
}

h5 {
    font-size: 18px !important;
}

h6 {
    font-size: 16px !important;
}

p {
    font-size: 14px !important;
}
